<h2> List of drones </h2>

<ul>
  <% drones.forEach((aDrone) => { %>
    <li>
      <a href="/drones/<%= aDrone._id %>">
        <%= aDrone.droneName %>
      </a>
      -
      <a href="/drones/<%= aDrone._id %>/edit">
        Edit
      </a>

      <form method="post" action="/drones/<%= aDrone._id %>/delete">
        <button> Delete </button>
      </form>
    </li>
  <% }) %>
</ul>

<a href="/drones/new">
  Add a new drone
</a>
