<h2> Drone details </h2>

<h3> <%= drone.droneName %> </h3>

<ul>
  <li>
    <b> Propellers: </b>
    <%= drone.propellers %>
  </li>
  <li>
    <b> Maximum Speed: </b>
    <%= drone.maxSpeed %>
  </li>
</ul>

<a href="/drones">
  Back to list of drones
</a>
